
/* Search bar css */

.search-box {
    border: solid 5px black;
    display: inline-block;
    position: relative;
    border-radius: 50px;
  }
  .search-box input[type="text"] {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: normal;
    width: 50px;
    height: 50px;
    padding: 5px 40px 5px 10px;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
  }
  .search-box input[type="text"]:focus {
    outline: none;
  }
  .search-box input[type="text"]:focus, .search-box input[type="text"]:not(:placeholder-shown) {
    width: 300px;
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
  }
  .search-box input[type="text"]:focus + span, .search-box input[type="text"]:not(:placeholder-shown) + span {
    bottom: 13px;
    right: 10px;
    transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
  }
  .search-box input[type="text"]:focus + span:after, .search-box input[type="text"]:not(:placeholder-shown) + span:after {
    top: 0;
    right: 10px;
    opacity: 1;
    transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
  }
  .search-box span {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -13px;
    right: -15px;
    transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
  }
  .search-box span:before, .search-box span:after {
    content: '';
    height: 25px;
    border-left: solid 5px black;
    position: absolute;
    transform: rotate(-45deg);
  }
  .search-box span:after {
    transform: rotate(45deg);
    opacity: 0;
    top: -20px;
    right: -10px;
    transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
  }
  .search-box{
      margin:1rem 2rem 1rem 0rem;
  }
  
/* .head{
  margin-top: 8%;
} */