{% extends "layout.html" %}

{% block content %}

    <div class="container">
    <div class="row head">
        <div class="mainhead col-md-12 row">
            <div class="col-md-6">
                <h3>Status for your Requests</h3>
            </div>

            <div class="col-md-3">
                <input type="text" class=" form-control" id="summary_input" onkeyup="search_summary()"
                    placeholder="Search" /><span></span>
            </div>
        </div>
    </div>

    </div>
        <div class="col-md-offset-2 custyle table-responsive">
            <table id="summary_table" class="table table-list-search table-striped custab">
                <thead>
                    <tr>
                        <th scope="row">Request Id </th>
                        {% if current_user.isAdmin %}
                            <th scope='col'> User Id </th>
                            <th scope='col'> Name </th>
                        {% endif %}
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" >Comment</th>
                        <th scope="col" >Received</th>
                        <th scope="col"> Processed By </th>
                        <th scope="col">Admins Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in requests %}
                    <tr>
                        
                        <td>{{ element.id }}</td>
                        {% if current_user.isAdmin %}
                        <td scope='col'>{{ element.user_id }}</td>
                        <td scope='col'>{{ element.user.first_name + " " + element.user.last_name }}</td>
                        {% endif %}
                        <td>{{ element.stock.item }}</td>
                        <td>{{ element.qty }}</td>
                        <td>{{element.date_applied.strftime('%Y-%m-%d') }}</td>
                        <td class="text-center">
                            {% if(element.status==1) %}
                                <h3 style="color: green;"><i class="far fa-check-circle"></i></h3>
                            {% elif(element.status==-1) %}
                                <h3 style="color: red;"><i class="fas fa-times"></i></h3>
                            {% else %}
                                <h3 style="color: black;"><i class="far fa-clock"></i></h3>
                            {% endif %}
                        </td>
                        
                        <td>  
                            <Textarea disabled>{{ element.received_comment }}</Textarea>                          
                            
                        </td>
                        <td>
                            {% if  element.accepted %}
                                <h3 style="color: green;"><i class="far fa-check-circle"></i></h3>                    
                            {% else %}
                                <h3 style="color: black;"><i class="far fa-clock"></i></h3>
                            {% endif %}
                        </td>
                        <td> {{element.processed_by}} </td>
                        <td>
                            <Textarea disabled>{{ element.admins_comment }}</Textarea>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

{% endblock content %}