{% extends 'layout.html' %}

{% block content %}
<div class="mt-5 text-center">
    <h1>List of All the Users</h1>
</div>
<div class="d-flex justify-content-center m-5">
    <a href = "{{ url_for('add_users') }}" class="btn btn-outline-dark">Add a new user</a>
</div>
<div class="mt-5">
    <div class="col-md-offset-2 custyle table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">User id</th>
            <th scope="col">Name</th>
            <th scope="col">Email </th>
            <th scope="col">User Type</th>
            <th scope="col">View</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.isSuperUser %}
                <tr class="table-danger">
            {% elif user.isAdmin %}
                <tr class="table-warning">
            {% else %}
                <tr class="table-primary">
            {% endif %}
            
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.first_name + " " + user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.isSuperUser %}
                        Super User
                    {% elif user.isAdmin %}
                        Admin
                    {% else %}
                        Normal User
                    {% endif %}
                
                <td><a href="{{ url_for('view_user', user_id = user.id) }}" class="btn btn-dark btn-sm">View</a></td>
            </tr>
        {% endfor %}
        
        
        </tbody>
    </table>
    </div>
</div>
{% endblock content %}