<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="shortcut icon" type="image/vnd.Microsoft.icon" 
    href="https://kjsieit.somaiya.edu/assets/kjsieit/images/icons/favicon.png">
    <title>Edit Profile</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/editProfile.css" rel="stylesheet">
</head>


<body class="text-center">
    <form action = "/register" method = "POST" class="form-signin">
        <img class="mb-4" src="images/svv.png" alt="" width="102">
        
        <h3 class="h3 mb-3   font-weight-normal">Stationery Inventory System</h3>
        <h3 class="h5 mb-3   font-weight-normal">Edit your profile</h3>
        <% if(err){ %>

            <div class="alert alert-danger" role="alert">
                <%=err_msg%>
            </div>

        <% } %>

        
        <input name = "email" type="email" id="inputEmail" class="form-control top" placeholder="Email address"  value = "<%= email %>"readonly autofocus>
        

        <input name = "prev_password" type="password" id="inputPassword" class="form-control middle" placeholder="Previous Password" required>
        
        <input name = "new_password" type="password" id="inputPassword" class="form-control middle" placeholder="New Password" required>
       
        <input name = "confirm_password" type="password" id="inputPassword" class="form-control bottom" placeholder="Confirm Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
        
    </form>
</body>

</html>