
{% extends "layout.html" %}

{% block content %}

      <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

      <h2>Extended Working hours</h2>
      <form class="w-75" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            
          <div class="col">
                {{ form.from_time.label(class="form-label") }}
                {{ form.from_time(class = "form-control",placeholder = "HH:MM:SS") }}
          </div>
          <div class="col">
            {{ form.to_time.label(class="form-label") }}
            {{ form.to_time(class = "form-control",placeholder = "HH:MM:SS") }}
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            {{ form.bill_date.label(class="form-label") }}
            {{ form.bill_date(class = "form-control",placeholder = "YY:MM:DD") }}
          </div>
          <div class="col">
            {{ form.bill_amount.label(class="form-label") }}
            {{ form.bill_amount(class = "form-control",placeholder = "Bill Amount") }}
          </div>
      </div>
      <div class="mt-3">
        {{ form.bill_image.label(class="form-label") }}
        {{ form.bill_image(class = "form-control",placeholder = "Bill Amount") }}
      </div>
      <div class="mt-4">       
        {{ form.submit(class = "btn btn-secondary") }}
      </div>
      </form>
{% endblock content %}