{% extends 'layout.html' %}

{% block content %}

<div class="card mt-5">
    <article class="card-body mx-auto" style="max-width: 500px;">
        <h4 class="card-title mt-3 text-center">Add a new User</h4>
        <hr>
            
        <form action="" method = "POST">
            {{ form.hidden_tag() }}
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                {% if form.first_name.errors %}
                    {{ form.first_name(class = "form-control is-invalid", placeholder = "First Name") }}
                    <div class = "invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                {% else %}
                    {{ form.first_name(class = "form-control", placeholder = "First Name") }}
                {% endif %}
                
            </div> 
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                {% if form.last_name.errors %}
                    {{ form.last_name(class = "form-control is-invalid", placeholder = "Last Name") }}
                    <div class = "invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                {% else %}
                    {{ form.last_name(class = "form-control", placeholder = "Last Name") }}
                {% endif %}
            </div>
    
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                {% if form.email.errors %}
                    {{ form.email(class = "form-control is-invalid", placeholder = "Email") }}
                    <div class = "invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class = "form-control", placeholder = "Email") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class = "btn btn-primary btn-block") }}
            </div>                                                              
        </form>
    </article>
</div> 
</div> 
    
{% endblock content %}