
{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid">
    <div class="row head">
        <div class="mainhead col-md-12 row">
            <div class="col-md-6">
                <h3>Requests for Stationary</h3>
            </div>

            <div class="col-md-3">
                <input type="text" class=" form-control" id="request_input" onkeyup="search_requests()"
                    placeholder="Search" /><span></span>
            </div>
        </div>
    </div>

    </div>
    <div class="container d-flex justify-content-center">
        <div class="col-md-offset-2 custyle table-responsive">
            <table id="request_table" class="table table-list-search table-striped custab" style="table-layout: fixed;"">
                <thead>
                    <tr>
                        <th scope="row">Name</th>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Request Comment</th>
                        <th scope="col" >Accept</th>
                        <th scope="col" >Reject</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in requests %}
                        {% if element.status == 0 %}
                            <tr>
                                <td>{{ element.user.first_name + " " + element.user.last_name }}</td>
                                <td>{{ element.stock.item }}</td>
                                <td>{{ element.qty }}</td>
                                <td>{{element.date_applied.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                <td style="word-wrap: break-word">{{ element.users_comment }}</td>
                                
                                <td>
                                    
                                    <form action="{{ url_for('accept_request', req_id = element.id) }}" method = "POST">                                           
                                            {% if element.stock.avail == 0 %}
                                                <button class='btn btn-success btn-xs' 
                                                type = 'submit' disabled>
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                    Send 
                
                                                    {% if element.qty > element.stock.avail %}
                                                        {{ element.stock.avail }}
                                                    {% else %}
                                                        {{ element.qty }}
                                                    {% endif %}
                                                </button> 
                                            {% else %}
                                                <button class='btn btn-success btn-xs' 
                                                    type = 'submit'>
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                    Send 
                                                    
                                                    {% if element.qty > element.stock.avail %}
                                                        {{ element.stock.avail }}
                                                    {% else %}
                                                        {{ element.qty }}
                                                    {% endif %}
                                                </button> 
                                            {% endif %}   
                                    </form>
                                        
                                </td>
                                <td>
                                    <form action="{{ url_for('reject_request', req_id = element.id) }}" method = 'POST'>                                   
                                        <button class="btn btn-danger btn-xs"  type = "submit">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                    <i class="far fa-trash-alt"></i> Delete
                                        </button>
                                    </form>                                     
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}