{% extends 'layout.html' %}

{% block content %}

<div class="card mt-5">
    <article class="card-body mx-auto" style="max-width: 500px;">
        {% if user %}
            <h4 class="card-title mt-3 text-center">Update {{ user.first_name + " " + user.last_name }} 's Password</h4>
        {% else %}
            <h4 class="card-title mt-3 text-center">Update Your Password Here</h4>
        {% endif %}
        
        <hr>
            
        <form action="" method = "POST">
            {{ form.hidden_tag() }}
            
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                {% if form.prev_password.errors %}
                    {% if user %}
                        {{ form.prev_password(class = "form-control is-invalid", placeholder = "Enter your Password") }}
                    {% else %}
                        {{ form.prev_password(class = "form-control is-invalid", placeholder = "Previous Password") }}
                    {% endif %}
                    <div class = "invalid-feedback">
                            {% for error in form.prev_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                {% else %}
                    {% if user %}
                        {{ form.prev_password(class = "form-control is-invalid", placeholder = "Enter your Password") }}
                    {% else %}
                        {{ form.prev_password(class = "form-control is-invalid", placeholder = "Previous Password") }}
                    {% endif %}
                {% endif %}
            </div> 
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                {% if form.password.errors %}
                    {{ form.password(class = "form-control is-invalid", placeholder = "Password") }}
                    <div class = "invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class = "form-control", placeholder = "Password") }}
                {% endif %}
            </div> 
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class = "form-control is-invalid", placeholder = "Confirm Password") }}
                    <div class = "invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class = "form-control", placeholder = "Confirm Password") }}
                {% endif %}
            </div> 
            <div class="form-group">
                {{ form.submit(class = "btn btn-primary btn-block") }}
            </div>                                                              
        </form>
    </article>
</div> 
</div> 
    
{% endblock content %}